body{
  background-color: #e9e9e9;
  font-family: Lekton,Georgia,serif;
}
.front-page{
  padding-bottom: 70px;
}
.front-page img{
  width: 582.667px;
  height: auto;
  display: inline;
  margin-top: 40px;
}
.front-page h4{
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 0px;
  color: #333333;
  font-family: Lekton,Georgia,serif;
  font-size: 24px;
  line-height: 34px;
}
.front-page p{
  margin: 20px 0 10px 0;
  color: #333333;
  font-family: Lekton,Georgia,serif;
  font-size: 1.45em;
  line-height: 145%;
  opacity: .8;
  padding-bottom: 30px;
}
.btn {
    padding: 10px 20px;
    font-size: 1.8em;
    font-weight: bold;
    border-radius: 10px;
    width:30%;
}
.btn-success{
  transition: all 1s;
}
.btn-success:hover{
    color: #fff;
    background-color: #ed1d24;
    border-color: #ed1d24;
    transition: all 1s;
}
hr{
  display: block;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1.5px;
}

.form-page{
  padding-bottom: 100px;
  padding-top: 100px
}
.form-page label{
  font-size: 22px;
  padding-top: 20px;
}
.form-page p{
  font-size: 16px;
  padding-bottom: 10px;
}
.submit{
  padding-top: 30px;
}
.submit.btn{
    padding: 10px 15px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 8px;
    width:20%;
}
h2{
  padding-top: 35%;
}
.form-control{
  height: 50px;
}
span{
  font-weight: bolder;
}
input {
  margin-bottom: 30px;
}
i{
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
}
